# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Visual
*.log
*.pdb
*.ilk
*.sdf
*.lastbuildstate
*.suo
*.opensdf
OpenGL Rendering Subsystem

# 3D files
*.blend1
*.blend2
*.blend3
*.mesh.xml
*.scene
*.psd

# Compiled Static libraries
*.lai
*.la
*.a

# External libs
External/Ogre/*
External/Bullet/*

#Autotools file
Build/
m4/
Makefile
Makefile.in
configure
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
missing
.deps/
.dirstamp
config.h
config.log
config.status
libtool
stamp-h1
